name: Trigger auto deployment for agent-shaker

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/agent-shaker-AutoDeployTrigger-6e40883f-6f02-4239-bf0e-f7c252bc7f63.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AGENTSHAKER_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: Dockerfile
          registryUrl: ca23f382740bacr.azurecr.io
          registryUsername: ${{ secrets.AGENTSHAKER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AGENTSHAKER_REGISTRY_PASSWORD }}
          containerAppName: agent-shaker
          resourceGroup: rg-agent-shaker
          imageToBuild: ca23f382740bacr.azurecr.io/agent-shaker:${{ github.sha }}
          
            

     

